* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #F5F7FB;
  background-image: url("blobs1.svg"), url("blobs2.svg");
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  background-size: 30% 30%, 45% 45%;
}

.blob-move {
  animation: blob-resize 1s forwards;
}

@keyframes blob-resize {
  100% {
    background-size: 20% 20%, 35% 35%;
  }
}

#root, .App {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.landing--title {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #293264;
}

.landing--desc {
  color: #293264;
  text-align: center;
}

.landing--button {
  width: 200px;
  height: 50px;
  background: #4D5B9E;
  border-radius: 15px;
  color: #F5F7FB;
  border: none;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
}

.landing--button:hover {
  background: #293264;
}

.landing--button:active {
  transform: scale(0.95);
}
