* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #F5F7FB;
  background-image: url("./assets/blobs1.svg"), url("./assets/blobs2.svg");
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  background-size: 30% 30%, 45% 45%;
  background-attachment: fixed;
}

div {
  cursor: default;
}

button, label {
  cursor: pointer;
  user-select: none;
}

.blob-move {
  animation: blob-resize 1s forwards;
}

@keyframes blob-resize {
  100% {
    background-size: 20% 20%, 35% 35%;
  }
}

#root, .App {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.landing--title {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #293264;
}

.landing--desc {
  color: #293264;
  text-align: center;
}

.landing--button {
  width: 200px;
  height: 50px;
  background: #4D5B9E;
  border-radius: 15px;
  color: #F5F7FB;
  border: none;
  font-size: 1em;
  font-weight: 500;
  margin-top: 15px;
}

.landing--button:hover {
  background: #293264;
}

.landing--button:active {
  transform: scale(0.95);
}

.quiz {
  display: flex;
  flex-direction: column;
}

.quiz--question-container {
  border-bottom: 1px solid #DBDEF0;
  padding: 20px 20px 32px 20px;
  max-width: 700px;
}

.quiz--question {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #293264;
  padding-bottom: 20px;
}

.quiz--answer-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 15px;
}

.quiz--answer-list input[type="radio"] {
  left: -999em;
  position: absolute;
}

.quiz--answer-list input[type="radio"]:checked+label {
  background: #D6DBF5;
  border: none;
}

.quiz--answer-label {
  border: 2px solid #4D5B9E;
  border-radius: 10px;
  padding: 5px 15px;
  color: #293264;
  font-weight: 500;
}

.quiz--answer-label:active {
  background-color: #adb2cc;
}

.quiz--button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  column-gap: 20px;
  margin: 20px 0;
}

.quiz--answer-button {
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #4D5B9E;
  border-radius: 10px;
  border: none;
  color: #F5F7FB;
  font-weight: 600;
  font-size: 1em;
}

.quiz--answer-button:active {
  transform: scale(0.95);
  background-color: #293264;
}

.quiz--correct-stat {
  color: #293264;
  font-weight: 700;
  font-size: 1.2em;
}

.quiz--correct-answer {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #94D7A2;
  font-weight: 500;
}

.quiz--wrong-answer {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: #F8BCBC;
  border-radius: 10px;
  opacity: 50%;
}

.quiz--regular-answer {
  border: 2px solid #4D5B9E;
  border-radius: 10px;
  padding: 5px 15px;
  color: #293264;
  font-weight: 500;
  opacity: 50%;
}
